// Large layout First
$breakpoint-md: 1200px;
$breakpoint-sm: 992px;
$breakpoint-xs: 768px;
$breakpoint-xxs: 426px;

$container-lg: 1170px;
$container-md: 960px;
$container-sm: 730px;
$container-xs: 100%;
